<p>apis works!</p>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of usersList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.status}}</td>
        <td>
            <div (click)="viewUser(user.id)">View</div>
            <p  (click)="editUser(user.id)">Edit</p>
            <button  (click)="deleteUser(user.id)"> Delete</button>
        </td>
    </tr>
</table>

<pre>
    <button (click)="createUser()"> Create </button>

    {{userInfo | json}}
</pre>
