<header>
  <h2> Welcome to Application</h2>
</header>
<nav>
  <div class="nav-item"><a [routerLink]="['/']">Home</a></div>
  <div class="nav-item"><a [routerLink]="['/intro']">Into</a></div>
  <div class="nav-item"><a [routerLink]="['/var']">Var</a></div>
  <div class="nav-item"><a [routerLink]="['/dir']">Directives</a></div>
  <div class="nav-item"><a [routerLink]="['/forms']">Forms</a></div>
  <div class="nav-item"><a [routerLink]="['/obj-forms']">Obj Forms</a></div>
  <div class="nav-item"><a [routerLink]="['/reactive-forms']">Reactive</a></div>
  <div class="nav-item"><a [routerLink]="['/pipes']">Pipes</a></div>
  <div class="nav-item"><a [routerLink]="['/life-cycle', 'hello', 45, 'mahesh', 'angular.com']">Life Cycle</a></div>
  <div class="nav-item"><a [routerLink]="['/lg-7-kg-fully-automatic-front-load-washing-machine-in-built-heater-black-grey', 'p', 'itma76be56c71ca4']">Life Cycle 22</a></div>
  <div class="nav-item"><a [routerLink]="['/apis']">Api's</a></div>
  <div class="nav-item"><a [routerLink]="['/mahesh']">Mahesh</a></div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer> &copy; 2023, Gowri Inc., </footer>