<header>
  <h2> Welcome to Application</h2>
</header>
<nav>
  <div class="nav-item"><a [routerLink]="['/home']">Home</a></div>
  <div class="nav-item"><a [routerLink]="['/intro']">Into</a></div>
  <div class="nav-item"><a [routerLink]="['/var']">Var</a></div>
  <div class="nav-item"><a [routerLink]="['/dir']">Directives</a></div>
  <div class="nav-item"><a [routerLink]="['/forms']">Forms</a></div>
  <div class="nav-item"><a [routerLink]="['/obj-forms']">Obj Forms</a></div>
  <div class="nav-item"><a [routerLink]="['/reactive-forms']">Reactive</a></div>
  <div class="nav-item"><a [routerLink]="['/pipes']">Pipes</a></div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer> &copy; 2023, Gowri Inc., </footer>