<p>obj-forms works!</p>
<p>forms works!</p>

<pre>

<form name="form"  #f=ngForm (submit)="f.valid && takeValues()">
    <label for="fname"> username</label>
    
    <input type="text" [(ngModel)]="user.firstName" #firstName=ngModel placeholder="text" name="fname" id="fname" required="" minlength="5" maxlength="10"> {{user.firstName}}
    <!-- <div class="error" *ngIf="firstName.dirty && firstName.invalid"> pelase enter a valid value</div> -->
    <!-- <div class="error" *ngIf="firstName.dirty && firstName.hasError('required')"> This is a mandatroy field</div>
    <div class="error" *ngIf="firstName.dirty && firstName.hasError('minlength')"> pelase enter a min 5 chars</div>
    <div class="error" *ngIf="firstName.dirty && firstName.hasError('maxlength')"> it will accept only 10 chars</div>
     -->
    <!-- <div class="error" *ngIf="firstName.touched && firstName.hasError('required')"> This is a mandatroy field</div>
    <div class="error" *ngIf="firstName.touched && firstName.hasError('minlength')"> pelase enter a min 5 chars</div>
    <div class="error" *ngIf="firstName.touched && firstName.hasError('maxlength')"> it will accept only 10 chars</div> -->
    
    <div class="error" *ngIf="f.submitted && (firstName.hasError('required') || firstName.hasError('minlength') )"> please enter a valid value</div>
    <!-- <div class="error" *ngIf="f.submitted && firstName.hasError('required')"> This is a mandatroy field</div>
    <div class="error" *ngIf="f.submitted && firstName.hasError('minlength')"> pelase enter a min 5 chars</div>
    <div class="error" *ngIf="f.submitted && firstName.hasError('maxlength')"> it will accept only 10 chars</div> -->
    <!-- <div class="error" *ngIf="firstName.touched && firstName.hasError('required')"> pelase enter fname</div> -->
    
    
    
    <input type="email" [(ngModel)]="user.email" #email=ngModel  placeholder="email" name="email">
    
    <input type="number" [(ngModel)]="user.age" #age=ngModel placeholder="number" name="age" min="40" max="80">

    <input type="tel" [(ngModel)]="user.phone" #phone=ngModel  placeholder="phone" name="phone" pattern="[6789][0-9]{9}">
    <!-- 9490791574 -->
    
    <input type="date" [(ngModel)]="user.date" #date=ngModel  name="date" min="2022-12-25" max="2023-05-21">
    <!-- [disabled]="f.invalid" -->
    <button >Im a button</button>
</form>


Form states (boolean)
valid  :: {{f.valid}}
invalid :: {{f.invalid}}
dirty :: {{f.dirty}}
pristine :: {{f.pristine}}
touched :: {{f.touched}}
untouched :: {{f.untouched}}
submitted :: {{f.submitted}}

Form Field states (boolean)
valid :: {{firstName.valid}}
invalid:: {{firstName.invalid}}
dirty :: {{firstName.dirty}}
pristine :: {{firstName.pristine}}
touched :: {{firstName.touched}}
untouched :: {{firstName.untouched}}
**hasError('minlength') :: {{firstName.hasError('minlength')}}
**hasError('required') :: {{firstName.hasError('required')}}
**hasError('maxlength') :: {{firstName.hasError('maxlength')}}
**hasError('min') :: {{firstName.hasError('min')}}
**hasError('max') :: {{firstName.hasError('max')}}
**hasError('pattern') :: {{firstName.hasError('pattern')}}

</pre>
