<p>reactive-forms works!</p>

<pre>

        <form [formGroup]="regFormGroup" (submit)="regssssssssssssssssssssss()">
            <input type="text" formControlName="fname" placeholder="first name">
            <div class="error" *ngIf="fc['fname'].dirty && fc['fname'].hasError('required')"> this is required</div>
            <div class="error" *ngIf="fc['fname'].dirty && fc['fname'].hasError('minlength')"> Please enter min 5 characters</div>
            <div class="error" *ngIf="regFormGroup.controls['fname'].dirty && regFormGroup.controls['fname'].hasError('maxlength')"> Please enter max 10 characters</div>
            <input type="text" formControlName="lname" placeholder="last name">

            <input type="number" formControlName="age" placeholder="Age">

            <input type="phone" formControlName="phone" placeholder="Phone Number">

            <button>Submit</button>
        </form>

</pre>

