<header>
    <div class=" title">
        <h2> Welcome {{title}} </h2>
    </div>
</header>
<nav>
    <ul>
        <li>
            <a [routerLink]="['home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['intro']">Intro</a>
        </li>
        <li>
            <a [routerLink]="['var']">Var</a>
        </li>
        <li>
            <a [routerLink]="['directives']">Directives</a>
        </li>
        <li>
            <a [routerLink]="['forms']">Forms</a>
        </li>
        <li>
            <a [routerLink]="['obj-forms']">Obj Forms</a>
        </li>
        <li>
            <a [routerLink]="['reactive-forms']">Reactive Forms</a>
        </li>
        <li>
            <a [routerLink]="['pipes']">Pipes</a>
        </li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>&copy; &hearts; &reg; 2023</footer>

