<header>
    <div class=" title">
        <h2> Welcome {{title}} </h2>
    </div>
</header>
<nav>
    <ul>
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['intro', 'dinesh', 'harsha']">Intro</a>
        </li>
        <li>
            <a [routerLink]="['var']">Var</a>
        </li>
        <li>
            <a [routerLink]="['directives']">Directives</a>
        </li>
        <li>
            <a [routerLink]="['forms']">Forms</a>
        </li>
        <li>
            <a [routerLink]="['obj-forms']">Obj Forms</a>
        </li>
        <li>
            <a [routerLink]="['reactive-forms']">Reactive Forms</a>
        </li>
        <li>
            <a [routerLink]="['pipes']">Pipes</a>
        </li>
        <li>
            <a [routerLink]="['life']">Life Cycle</a>
        </li>
        <li>
            <a [routerLink]="['apis']">Apis</a>
        </li>
        <li>
            <a [routerLink]="['hssd']">hssd</a>
        </li>
        <li>
            <a [routerLink]="['polo-jean','p', 'itmsa2342134132']">shirt1</a>
            <a [routerLink]="['allen-solly-jean','p', 'itms1123']">shirt2</a>
            <a [routerLink]="['bossini-jean','p', 'itm2222']">shirt3</a>
        </li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer>&copy; &hearts; &reg; 2023</footer>

