<p>directives works!</p>

<!-- 
    *ngIf
    *ngFor
    [(ngModel)]
    [ngSwitch]
    *ngSwitchCase
    *ngSwitchDefault
    [hidden]
    [ngClass]
    [ngStyle]
    (click)
    (mouseover)



    *   -- conditions & loops
    []  -- attributes
    ()  -- events
    [()] - two way data binding
    #   -- local variables
 -->

 <div *ngIf="fname=='gowri'"> this is if</div>
 <div [hidden]="fname=='gowri'"> this is hidden</div>


 <div [ngSwitch]="fname">
    <p *ngSwitchCase="'gowri'">  this is gowri</p>
    <p *ngSwitchCase="'shankar'">  this is shankar</p>
    <p *ngSwitchCase="'angular'">  this is angular</p>
    <p *ngSwitchCase="'tech'">  this is tech</p>
    <p *ngSwitchDefault>  this is default</p>
 </div>

 <span  *ngFor="let fruit of fruits"> {{fruit}}</span>
 <h2  *ngFor="let x of fruits"> {{x}}</h2>

 <ul>
    <li *ngFor="let x of fruits"> {{x}}</li>
 </ul>

 <select>
    <option *ngFor="let x of fruits">{{x}}</option>
 </select>

 <table border="1">
   <tr>
      <th>Fruits</th>
   </tr>
   <tr [hidden]="!fruits.length" *ngFor="let x of fruits">
      <td> {{x}}</td>
   </tr>
   <tr *ngIf="!fruits.length">
      <td> No Fruits Available</td>
   </tr>
</table>

<div [ngClass]="{'error': (fname==='gowri'), 'success':fname!='gowri'}"> this is class</div>
<div [ngStyle]="{'color': (fname==='gowri')?'red':'green' }"> this is style</div>

<input type="text" [(ngModel)]="fname" /> <!--watcher -->

<p (click)="callMe()"> this is click </p>
<p (dblclick)="callMe()"> this is dblclick </p>
<p (mouseover)="callMe()"> this is mouseover </p>
<p (mouseout) ="callMe()"> this is out </p>
<p (mouseenter) ="callMe()"> this is enter </p>
<p (mouseleave) ="callMe()"> this is leave </p>
<p (mousemove) ="callMe()"> this is move </p>
<p (mousedown) ="callMe()"> this is down </p>
<p (mouseup) ="callMe()"> this is up </p>
<p (contextmenu) ="callMe()"> this is right click </p>

<pre>
    
    <form (reset) ="callMe()" (submit) ="callMe()">
        
      
    <input (click) ="callMe()" placeholder="click"/>
   
    <input (focus) ="callMe()" placeholder="focus"/>
   
    <input (blur) ="callMe()" placeholder="blur"/>
   
    <input (keydown) ="callMe()" placeholder="down"/>
   
    <input (keyup) ="callMe()" placeholder="up"/>
   
    <input (keypress)="callMe()" placeholder="press"/>
   
    <input (change)="callMe()" placeholder="change"/>
   
    <input (input)="callMe()" placeholder="input"/>
   
    <input (copy)="callMe()" placeholder="copy"/>
   
    <input (cut)="callMe()" placeholder="cut"/>
   
    <input (paste)="callMe()" placeholder="paste"/>
   
    <input type="text" (invalid)="callMe()" required minlength="5" maxlength="10" placeholder="invalid">
   
    <input type="search" (search)="callMe()" placeholder="search">
   
    <input type="text" (select)="callMe()" value="Hello world!" placeholder=" select all">
   
    <input type="reset">
   
    <input type="submit">
</form>
</pre>